version: "3.9"

services:
  db:
    image: postgres:15
    container_name: handora_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Sab123
      POSTGRES_DB: handora
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: .
    container_name: handora_backend
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
      - uploads_data:/app/uploads
    ports:
      - "8000:8000"
    environment:
      POSTGRES_SERVER: db
      POSTGRES_PORT: 5432

volumes:
  postgres_data:
  uploads_data:
